# Virtual environment
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite databases
*.sqlite
*.db
*.db.sqlite

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log

# Outputs (charts, images, etc.)
outputs/
